<div class="page-header">
    <h1>Routes</h1>
</div>
    <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" style="float: center" type="button" data-toggle="dropdown">Click to add to / delete items from chart
                        <span class="caret"></span></button>
            <ul class="dropdown-menu">
                    <li><a href="#!/deleteItem">Delete Events</a></li>
                    <li><a href="#!/addEvents">Add Events</a></li>
            </ul>
    </div>
    </br>
    <body onload="script();">
            <canvas id="myChart" width="1300px" height="500px"></canvas>